body {
    background-color: #ccefff;
  }

img{
    height: 300px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto
}


h1{
    text-align: center ;
    font-family: "Raleway", Arial, sans-serif;
}

fieldset{
    border: 0;
    width: 400px;
    position: relative;
    left: 619px;
    text-align: center ;
    font-family: "Raleway", Arial, sans-serif;
}

.spanClassname{
    position: relative;
    float:left;
    left: 07px;
}

.HiraganaText{
    position: relative;
    float:left;
    text-align: center ;
}

.KatakanaText{
    float:left;
    text-align: center ;
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto
}

h3{

    text-align: center ;
    font-family: "Raleway", Arial, sans-serif;
}